@model Model.EF.NewsArticle
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-7" style="padding: 75px 0px 20px 0 !important;">
        <div class="using-border py-3">
            <div class="inner_breadcrumb  ml-4">
                <ul class="short_ls">
                    <li>
                        <a href="index.html">Trang chủ//</a>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
        <img class="blog-two-img" style="width:100% ;height: 360px !important; padding: 5px;" src="@Model.photoURL" alt="@Model.headline" />
        <h3 style="padding:10px;">@Model.headline</h3>
        <p style="padding:5px;">@Model.text</p>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-1"></div>
</div>


