<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Inside-Art a Blogging Category Bootstrap responsive Website Template| Single Page :: w3layouts</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Inside-Art Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="/assets/client/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="/assets/client/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="/assets/client/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
</head>
<body>
    <!--headder-->
    <div class="header-outs" id="header">
        <div class="headder-nav-icon">
            <!--//navigation section -->
           
        </div>

        @RenderSection("headder_index", required:false)

    </div>
    <div class="main">
        @RenderBody()
       
    </div>
    <!--Footer -->
    <section class="buttom-footer py-lg-5 py-md-4 py-sm-3 py-3">
        <div class="headder-logo-icon text-center">
            <span class="fab fa-accusoft"></span>
            <h2 class="mb-3"><a href="index.html">Inside-Art</a></h2>
        </div>
        <div class="buttom-nav py-3">
            <nav class="border-line">
                <ul class="nav justify-content-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="about.html" class="nav-link ">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="service.html" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <footer>
        <div class="footer-bottom py-lg-4 py-3 text-center">
            <p>©2018 Inside-Art. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>
        </div>
    </footer>
    <!-- //Footer -->
    <!--js working-->
    <script src='/assets/client/js/jquery-2.2.3.min.js'></script>
    <!--//js working-->
    <!-- start-smoth-scrolling -->
    <script src="/assets/client/js/move-top.js"></script>
    <script src="/assets/client/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
    <script src="/assets/client/js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->
</body>
</html>